@import "@bcgov/bc-sans/css/BC_Sans.css";

:root {
  --font-family: "BC Sans", "Noto Sans", "Verdana", "Arial", sans-serif;

  --color-success: #2e8540;
  --color-failed: #d8292f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.25;
}
